<div class="csui-pman-widget-masking">
  <div class="csui-pman-widget-close">
    <div class="formfield_clear"></div>
  </div>
</div>
<div class="csui-pman-popover-right csui-pman-popover-holder"></div>
<div class="csui-pman-popover-left csui-pman-popover-holder"></div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->