<div class="csui-search-header">
   <span class="csui-search-arrow-back-parent">
   <span class="icon arrow_back cs-go-back" aria-label="{{messages.searchBackTooltip}}"
         title="{{messages.searchBackTooltip}}" tabindex="0" role="button"></span>
   </span>
  {{#if messages.enableSearchFilter}}
    <span class="csui-search-facet-filter-parent">
      <span class="csui-search-filter icon icon-toolbarFilter" role="button"
            aria-label="{{messages.filterAria}}" title="{{messages.searchFilterTooltip}}"
            tabindex="0" aria-expanded="false"></span>
    </span>
  {{/if}}
  <div class="csui-search-header-title"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->