<div class="pman-backdrop"></div>
<div class="pman-header">
  <div class="pman-header-backdrop"></div>
  <div class="pman-tools-container">
    <div class="pman-left-tools">
      <ul>
        <li class="pman-toolitem">
          <button class="icon icon-toolbarAdd" title="{{this.addWidget}}"></button>
        </li>
      </ul>
      <div class="pman-pannel-wrapper"></div>
    </div>
    <div class="pman-right-tools">
      <ul>
        <li class="pman-toolitem">
          <button class="icon icon-save" title="{{this.save}}" disabled></span>
        </li>
        <li class="pman-toolitem">
          <button class="icon cancel-edit" title="{{this.cancel}}"></button>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->