<button class="csui-control csui-disclosure" aria-expanded="{{ariaExpanded}}"
        aria-label="{{ariaLabel}}" {{disabled}} title="{{title}}">
  <span class="csui-icon"></span>
</button>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->