{{#if showInlineActionBar}}<a class="csui-tileview-contains-more-btn"> {{/if}}
{{#if enableIcon}}<span class="csui-type-icon {{icon}}"></span>{{/if}}
<span title="{{name}}" class="list-item-title">{{name}}</span>
{{#if end-icon}}<span class="{{end-icon-class}}"></span>{{/if}}
{{#if showInlineActionBar}}</a>{{/if}}
{{#if showInlineActionBar}}<div class="csui-tileview-more-btn"></div>{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->