<div class="csui-saved-search-form" id="csui-saved-search-form"></div>
<div class="csui-saved-search-submit-container">
  <button class="binf-btn binf-btn-primary csui-custom-search-form-submit"
          id="csui-custom-search-form-submit" value="Search"> {{messages.search}} </button>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->