<div class="csui-thumbnail-properties csui-thumbnail-overview-name"></div>
<div class="csui-thumbnail-metadata-container">
{{#each columns}}
  <div class="csui-thumbnail-properties csui-thumbnail-overview-{{this.attributes.key}}"></div>
{{/each}}
</div>
<div class="csui-thumbnail-properties-actions">
  <div class="csui-thumbnail-properties csui-thumbnail-overview-properties"></div>
  <div class="csui-thumbnail-properties csui-thumbnail-overview-reserved"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->