<button type="button" role="checkbox" class="csui-control csui-checkbox" aria-label="{{ariaLabel}}"
  {{disabled}}
        title="{{title}}" aria-checked="{{ariaChecked}}" >
  <span class="csui-icon"></span>
</button>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->